extends includes/layout

block content-block

    script(src='../js/reset-font.min.js',type='text/javascript')
    script(src='../js/jiui.min.js',type='text/javascript')

    .ji-full-container.ji-align-center
        span.ji-btn.ji-default 默认按钮
        span.ji-btn.ji-error 错误按钮
        span.ji-btn.ji-right 正确按钮
        .ji-btn-group
            span.ji-btn.ji-default 按钮一
            span.ji-btn.ji-default 按钮二
            span.ji-btn.ji-default 按钮三
